ion-card {
    ion-card-header {}
    ion-card-content {
        ion-label {
            font-size: 20px;
            text-align: center;
            width: 100%;
            display: flex;
        }
    }
}