ion-toolbar {
    --min-height: 100px;
    --background-color: transparent;
    ion-title {
        font-size: 40px;
    }
}

ion-fab {
    ion-fab-button {
        --background: #353535;
        ion-icon {
            color: white;
            font-size: 30px;
        }
    }
}