<ion-header>
    <ion-toolbar mode="ios">
        <ion-title mode="ios" size="large">Proyectos</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <card-proyecto *ngFor="let proyecto of proyectos" [proyecto]="proyecto" (click)="verProyecto(proyecto)"></card-proyecto>
    <ion-card *ngIf="proyectosVacios()" class="centrado" style="background: transparent; min-width: 200px; margin: 0; box-shadow: none;">
        <ion-card-content style="text-align: center;">
            <ion-label style="font-size: 20px;">
                No hay proyectos disponibles.
            </ion-label>
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button (click)="nuevoProyecto()">
        <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>